.liner {
    width: 170px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 60px auto;
    /* Центрирует горизонтально */
    opacity: 0.5;
    /* Делает линию полупрозрачной */
}



.btn {
    width: 270px;
    height: 55px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.301);
    border-radius: 30px;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    animation: pulse 1s infinite;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}


#stop-music {
    margin-top: 1px;
    display: flex;
    align-items: center;
    width: 280px;
    height: 65px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.301);
    border-radius: 30px;
    font-family: "Poiret One", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    cursor: pointer;
    text-align: center;
    animation: pulse 1s infinite;
    letter-spacing: 0.5px;
    color: black;

    @media (max-height: 844px) {
        margin-top: 120px;
    }


}

#stop-music img {
    width: 30px;
    height: 30px;
    place-items: center;
}



#stop-music:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    animation: none;
}


.contmusic {
    display: flex;
    justify-content: center;
    /* Центрирует по горизонтали */
    align-items: center;
    /* Центрирует по вертикали */
    height: 100vh;
    /* Высота всей страницы */
    margin-left: 30px;
}