@use '../components/mixins' as *;


.dear {
    margin-top: 150px;


    h2 {
        font-family: "Poiret One", sans-serif;
        text-align: center;
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: -58px;

    }

    p {
        font-family: "Poiret One", sans-serif;
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
    }
}