.location {

    &__title {
        margin-top: 40px;
        text-align: center;
        font-family: 'Bodega Script';
        font-size: 45px;
        font-weight: 400;
    }

    &__subtitle {
        text-align: center;
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
    }

    &__descr {
        margin-top: 20px;
        text-align: center;
        font-family: "Poiret One", sans-serif;
        font-weight: 600;
        font-style: normal;

    }

    address {
        text-align: center;
        font-family: "Poiret One", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-top: 30px;
        letter-spacing: 1px;
        font-size: 20px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        color: black;

    }

    img {
        width: 100%;
        margin: 50px auto 0 auto;
        border-radius: 5px;
    }
}